.lookbook-content-wrapper
{
	height: 500px;
	width: 100%;
    background-size: cover;
    display: table;

    .lookbook-text-wrapper
    {
    	text-align: center;
	    height: 100%;
	    display: table-cell;
	    vertical-align: middle;

	    .lookbook-title
	    {
	    	font-size: 56px;
	    	color: #fff;
	    	margin-bottom: 20px;
	    }	

	    .lookbook-subtitle
	    {
		    font-size: 36px;
		    color: #fff;
	    }
    }
}