.gbt_18_mt_editor_lookbook {

	.lookbook-content-wrapper
	{
		height: 500px;
		width: 100%;
	    background-size: cover;
	    display: table;

	    .lookbook-text-wrapper
	    {
	    	text-align: center;
		    height: 100%;
		    display: table-cell;
		    vertical-align: middle;

		    .lookbook-title
		    {
		    	font-size: 56px;
		    	color: #fff;
		    	margin-bottom: 20px;
		    }

		    .lookbook-subtitle
		    {
			    font-size: 36px;
			    color: #fff;
		    }
	    }
	}

	.add-image, .remove-image {
	    position: absolute;
	    top: 20px;
	    left: 20px;
	    opacity: 0;
	    transition: all .3s ease-in-out;
    }
}

.wp-block[data-type="getbowtied/mt-lookbook"] {

	&.is-selected,
	&.is-hovered,
	&.is-typing {
		.add-image, .remove-image {
			opacity: 1;
			transition: all .3s ease-in-out;
		}
	}
}
