.category_header.with_featured_img {
    color: #fff;
    margin-top: 0;
    padding: 100px 0 50px 0;

    h1,
    .woocommerce-breadcrumb a {
        color: #fff;
    }

    .woocommerce-products-header__title {
        margin-bottom: 25px;
    }

    .woocommerce-breadcrumb {
        color: rgba( 255, 255, 255, .45 );

        a:hover {
            color: #fff;
            opacity: .45;
        }
    }

    .term-description {
        margin: 0 0 50px 0;
        position: relative;
    }
}
