.from-the-blog-wrapper
{
	margin: 0 0 2.5rem 0;

	.from_the_blog_item
	{
		padding: 0 15px;	
		
		h3
		{
			text-align: center;
			font-size: 1.457em;
			line-height: 1.304em;
			margin: 0 0 12px;
		}

		.post_header_date {
			text-align: center;
			font-size: 0.875em;
		}
		
		&.gallery
		{
			margin: 0 !important;
		}

		&:hover
		{
			.from_the_blog_overlay
			{
				background: rgba(0,0,0,0.6);
			}

			.from_the_blog_img
			{
				transform: translateZ(0) scale(1.1,1.1);
				-ms-transform: none;
			}
		}
	}

	.from_the_blog_overlay
	{
		display: block;
		background: rgba(0,0,0,0);
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 2;
		transition: all .3s ease;
	}

	.from_the_blog_img_link
	{
		display: block;
		overflow: hidden;
		position: relative;
		height: 245px;
		width: 100%;
		margin-bottom: 18px;
		-webkit-mask-image: -webkit-radial-gradient(white, black);
	}	

	.from_the_blog_img
	{
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background-position: center center;
		background-size:cover;
		transition: all 1s ease;
	}

	.grabbing .from_the_blog_item:hover .from_the_blog_img
	{
		transform: none;
	}

	.with_thumb_icon
	{
		position: absolute;
		width:50px;
		height: 50px;
		display: block;
		background: #314381;
		top: 0;
		left: 0;
		text-align: center;
		color: #fff;
		line-height: 50px;
		z-index: 3;
	}

	.no_thumb_icon
	{
		line-height: 245px;
		text-align: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		color: #fff;
		z-index: 3;
	}

	.no_thumb_icon:before,
	.with_thumb_icon:before {
		display: inline-block;
		vertical-align: middle;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		z-index: 3;
	}

	.with_thumb_icon:before {
		font-size: 18px;
	}

	.no_thumb_icon:before {
		font-size: 78px;
	}

	.from_the_blog_item.standard .with_thumb_icon {
		display: none;
	}

	.no-thumb.standard .no_thumb_icon:before {
		content: "\f15c";
	}

	.no_thumb.status .no_thumb_icon:before,
	.from_the_blog_item.status .with_thumb_icon:before 
	{
		content: "\f075";
	}

	.no_thumb.link .no_thumb_icon:before,
	.from_the_blog_item.link .with_thumb_icon:before
	{
		content: "\f0c1";
	}

	.no_thumb.video .no_thumb_icon:before,
	.from_the_blog_item.video .with_thumb_icon:before
	{
		content: "\f16a";
	}

	.no_thumb.audio .no_thumb_icon:before,
	.from_the_blog_item.audio .with_thumb_icon:before
	{
		content: "\f001";
	}

	.no_thumb.aside .no_thumb_icon:before,
	.from_the_blog_item.aside .with_thumb_icon:before
	{
		content: "\f15b";
	}

	.no_thumb.quote .no_thumb_icon:before,
	.from_the_blog_item.quote .with_thumb_icon:before
	{
		content: "\f10d";
	}

	.no_thumb.image .no_thumb_icon:before,
	.from_the_blog_item.image .with_thumb_icon:before
	{
		content: "\f03e";
	}

	.no_thumb.gallery .no_thumb_icon:before,
	.from_the_blog_item.gallery .with_thumb_icon:before
	{
		content: "\f00a";
	}

	.no_thumb .from_the_blog_img
	{
		line-height: 245px;
	}

	.from_the_blog_noimg
	{
		background: #f5f5f5;
		height: 245px;
		width: 100%;
		display: block;
	}
}

.boxed-row .wpb_wrapper .from-the-blog-wrapper
{
	margin: 0px -30px 0px;
}

/* min-width 1023px, large screens */
@media only screen and (min-width: 63.9375em) {
	
	.boxed-row .wpb_wrapper .from-the-blog-wrapper
	{
		margin: 0px -15px 0px;
	}
}