.gbt_18_mt_editor_social_media_wrapper {
    padding: 0.5em;
    width: 100%;

	.gbt_18_mt_editor_social_media_setup {
		color: #5d5d5d;
		font-size: 13px;
		margin-bottom: 0;
	    margin-top: 0;
	}
}

.gbt_18_mt_social_media_profiles {
	ul {

		&.right {
			text-align: right;
		}

		&.center {
			text-align: center;
		}

		li {
			display: inline;
			list-style-type: none;
		    padding: 5px 0.6em;

		    a {
		    	pointer-events: none;
		    	text-decoration: none;

		    	span {
					display: none;
				}
			}
		}
	}
}