    .content-area {
    .box-share-master-container
    {
        margin-bottom: 25px;
    }

    .box-share-container
    {
        display: block;
        margin: 40px auto 36px;
        position: relative;
        text-align: center;
        z-index: 99;

        &.product-share-container {
            margin: 0;
            text-align: left;

            .box-share-list {
                margin: 0 0 0 8px;
            }
        }

        .box-share-list
        {
            background-color: #fff;
            border-top: 3px solid;
            border-bottom: 1px solid;
            border-left: 1px solid;
            border-right: 1px solid;
            margin: 0 auto;
            text-align: left;
            transition: all 0.3s;
            opacity: 0;
            max-height: 0;
            visibility: hidden;
            height: auto;
            width: fit-content;
            z-index: 999;
        }

        &.open
        {
            .box-share-list
            {
                opacity: 1;
                max-height: 200px;
                margin-top: 10px;
                visibility: visible;
            }

            .box-share-link {
                opacity: 1;
                transition-delay: .1s;
            }
        }
    }

    a.trigger-share-list
    {
        background-repeat: no-repeat;
        background-position: center left;
        display: inline-block;
        font-size: 13px;
        line-height: 20px;
        font-weight: 700;
        padding-left: 25px;
        text-transform: uppercase;
        text-decoration: none !important;
        position: relative;
        opacity: 1;
        transition: all .3s ease;
    }

    .box-share-list-inner
    {
        padding: 25px 35px 25px 30px;

        a {
            text-decoration: none;
        }
    }

    .box-share-link {
        display: block;
        font-size: 13px;
        margin-bottom: 13px;
        font-weight: normal;
        position: relative;
        opacity: 0;
        transition: opacity 0.15s;
         -webkit-transform: translateZ(0);
         -webkit-font-smoothing: antialiased !important;

        span {
            font-weight: bold;
            transition: all .3s ease;
         }

        svg {
            position: relative;
            top: 3px;
            margin: 0 5px 0 0;
            transition: all .3s ease;

            path {
                transition: all .3s ease;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}
