.editor-block-styles__item-preview {

	.gbt_18_mt_posts_grid.is-style-default {

		.gbt_18_mt_editor_posts_grid_item {
			padding: 0 2px;
			margin-bottom: 5px;
		}

		.gbt_18_mt_editor_posts_grid_wrapper {
			.gbt_18_mt_editor_posts_grid_img_container {
				margin-bottom: 3px;
			}

			.gbt_18_mt_editor_posts_grid_title {
			    font-size: 5px;
			    margin: 0;
			}
		}
	}

	.gbt_18_mt_posts_grid.is-style-list {

		.gbt_18_mt_editor_posts_grid_wrapper {
			.gbt_18_mt_editor_posts_grid_img_container {
			    margin-bottom: 5px;
    			padding-bottom: 42px;
			}

			.gbt_18_mt_editor_posts_grid_content {
			    padding: 0;

			    .gbt_18_mt_editor_posts_grid_day,
			    .gbt_18_mt_editor_posts_grid_date,
			    .gbt_18_mt_editor_posts_grid_title {
		    	    font-size: 5px;
		    	    line-height: 0;
			    }

			    .gbt_18_mt_editor_posts_grid_day {
		    	    min-width: 0;
			    }

			    .gbt_18_mt_editor_posts_grid_title {
			    	margin-top: -3px;
			    }

			    .gbt_18_mt_editor_posts_grid_title_content {
		    	    padding-left: 5px;
    				padding-right: 5px;
    				vertical-align: top;
			    }
			}
		}
	}
}

.editor-block-preview {

	.gbt_18_mt_posts_grid.is-style-default {

		.gbt_18_mt_editor_posts_grid_item {
			padding: 0 5px;
			margin-bottom: 10px;
		}

		.gbt_18_mt_editor_posts_grid_wrapper {
			.gbt_18_mt_editor_posts_grid_img_container {
				margin-bottom: 5px;
			}

			.gbt_18_mt_editor_posts_grid_title {
			    font-size: 8px;
			    margin: 0;
			}
		}
	}

	.gbt_18_mt_posts_grid.is-style-list {

		.gbt_18_mt_editor_posts_grid_wrapper {
			.gbt_18_mt_editor_posts_grid_img_container {
			    margin-bottom: 5px;
    			padding-bottom: 42px;
			}

			.gbt_18_mt_editor_posts_grid_content {
			    padding: 0;

			    .gbt_18_mt_editor_posts_grid_day,
			    .gbt_18_mt_editor_posts_grid_date,
			    .gbt_18_mt_editor_posts_grid_title {
		    	    font-size: 8px;
		    	    line-height: 1;
			    }

			    .gbt_18_mt_editor_posts_grid_day {
		    	    min-width: 0;
			    }

			    .gbt_18_mt_editor_posts_grid_title {
			    	margin-top: -3px;
			    }

			    .gbt_18_mt_editor_posts_grid_title_content {
		    	    padding-left: 5px;
    				padding-right: 5px;
    				vertical-align: top;
			    }
			}
		}
	}
}