.gbt_18_mt_posts_grid.is-style-list {

	.gbt_18_mt_posts_grid_wrapper {
		&.full {
			margin-left: calc( -100vw / 2 + 100% / 2 );
		    margin-right: calc( -100vw / 2 + 100% / 2 );
		    max-width: 100vw;
		}

		&.wide {
			@media all and (min-width: 1570px) {
				margin-left: calc( -75vw / 2 + 100% / 2 );
			    margin-right: calc( -75vw / 2 + 100% / 2 );
			    max-width: 75vw;
			}
		}
	}

	.gbt_18_mt_posts_grid_item
	{
		position: relative;
		margin: 0 0 10px;
	}

	.gbt_18_mt_posts_grid_img
	{
		background-color: #000;
	}
	
	.gbt_18_mt_posts_grid_item_link
	{
		display: block;
		overflow: hidden;
		position: relative;
		
		width: 100%;
		
		-webkit-mask-image: -webkit-radial-gradient(white, black);
	}	

	.gbt_18_mt_posts_grid_img_overlay
	{
		display: block;
		background: rgba(0,0,0,0);
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 2;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-o-transition: all .3s ease;
		-ms-transition: all .3s ease;
	}

	.gbt_18_mt_posts_grid_item_link:hover .gbt_18_mt_posts_grid_img_overlay
	{
		background: rgba(0,0,0,0.6);
	}

	.gbt_18_mt_posts_grid_img
	{
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background-position: center center;
		background-size:cover;
		transition: all 1s ease;
	}

	.gbt_18_mt_posts_grid_item_link:hover .gbt_18_mt_posts_grid_img
	{
		transform: translateZ(0) scale(1.1,1.1);
		-moz-transform: translateZ(0) scale(1.1,1.1);
		-webkit-transform: translateZ(0) scale(1.1,1.1);
		-ms-transform: none;
	}

	.gbt_18_mt_posts_grid_content_wrapper
	{
	    display: table;
	    color: #fff;
	    padding: 50px 0px;
	    width: 100%;
	    position: relative;
	    z-index: 10;
	}

	.gbt_18_mt_posts_grid_content_inner
	{
		display: table-row;
	}

	.gbt_18_mt_posts_grid_item_day
	{
		display: table-cell;
	    vertical-align: top;
	    font-size: 30px;
        line-height: 20px;
	    text-align: left;
	    padding-left: 30px;
        width: 80px;
    	min-width: 80px;

	    @media only screen and (min-width: 40.063em) {
			vertical-align: middle;
			font-size: 75px;
		    line-height: 50px;
		    text-align: center;
		    padding-left: 0;
		    width: 170px;
	    	min-width: 170px;
		}
	}

	.gbt_18_mt_posts_grid_content
	{
		display: table-cell;
		vertical-align: top;
		padding-left: 18px;
		padding-right: 30px;
		border-left: 2px solid;

		@media only screen and (min-width: 40.063em) {
			padding-left: 50px;
			padding-right: 50px;
		}
	}

	.gbt_18_mt_posts_grid_item_date
	{
		display: block;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
		margin: -1px 0 7px 3px;
		text-align: left;

		@media only screen and (min-width: 40.063em) {
			font-size: 14px;
			margin: 0 0 5px;
		}
	}

	.gbt_18_mt_posts_grid_item_title
	{
		font-size: 24px;
		line-height: 1.2;
		color: #fff;
		margin: 0 0 -4px;
		text-align: left;

		@media only screen and (min-width: 40.063em) {
			font-size: 30px;
			margin: 0 0 -3px;
		}
	}
}